.about {
  display: flex;
  align-items: center;
  padding: 6rem 4rem;
  background-color: #051321;
  min-height: 100vh;
}

.about-card {
  background-color: #eb524a;
  color: white;
  flex: 5;
  overflow: hidden;
  border-radius: 7px;
}

.about-desc {
  display: flex;
  align-items: center;
  padding-right: 1.5rem;
}

.about-desc .avatar {
  min-width: 150px;
  min-height: 150px;
  background-color: #a91a1a;
  margin: 1.5rem;
  border-radius: 50%;
  background-image: url(../assets/passport.jpg);
  background-size: cover;
  background-position: center;
}

.about-card .name {
  font-size: 1.5rem;
}

.about-card .intro {
  font-size: 0.7rem;
}

.about-card .about-action {
  background-color: #c63531;
  display: block;
  color: white;
  text-decoration: none;
  padding: 0.7rem 0.7rem 0.7rem 1.5rem;
  text-transform: uppercase;
  font-size: 0.8rem;
  position: relative;
  transition: all 0.3s ease-out;
}

.about-card .about-action:hover {
  background-color: #b42d2b;
}

.about-action i.fa {
  background-color: #ffb72c;
  color: #c63533;
  padding: 1rem;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: -50%;
  transition: all 0.3s ease-in-out;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-card .about-action:hover i.fa {
  transform: rotate(180deg) scale(1.1);
}

@media all and (max-width: 960px) {
  .about {
    display: block;
    padding-top: 10rem;
  }

  .about-card {
    width: 70%;
    margin: 0 auto;
  }

  .about-socials {
    width: 70%;
    margin: 0 auto;
    padding-left: 0;
    margin-top: 0.5rem;
  }
}

@media all and (max-width: 765px) {
  .about {
    padding: 10rem 6rem 7rem 6rem;
  }

  .about-desc {
    flex-direction: column;
    padding-right: 0;
  }

  .about-desc .name {
    margin-bottom: 0.2rem;
  }

  .about-card {
    width: 100%;
    margin: 0;
  }

  .about-socials {
    width: 100%;
    margin: 0;
    padding-left: 0;
    margin-top: 0.5rem;
  }

  .about-desc .about-info {
    padding: 2rem;
    text-align: center;
    padding-top: 0;
  }
}

@media all and (max-width: 560px) {
  .about {
    padding: 8rem 2rem 7rem 2rem;
  }
}

.about-socials {
  flex: 4;
  list-style-type: none;
  margin-bottom: 0;
}

.about-socials li {
  margin-bottom: 0.5rem;
}

.about-socials li:last-of-type {
  margin-bottom: 0;
}

.about-socials .social-item {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 7px;
  text-decoration: none;
}

.social-item .thumbnail {
  padding: 1rem;
}

.social-item .thumbnail i {
  padding: 0.5rem;
  color: white;
  border-radius: 50%;
  font-size: 1.3rem;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-item.red .thumbnail i {
  background-color: #eb524a;
}

.social-item.blue .thumbnail i {
  background-color: #393d46;
  padding: 0.7rem 0.9rem;
}

.social-item.blue-lt .thumbnail i {
  background-color: #0cb0ff;
}

.social-item .platform-name {
  font-weight: bold;
}

.social-item .account-name {
  font-size: 0.7rem;
  color: #b3b3b3;
}

.social-item.red .platform-name {
  color: #eb524a;
}

.social-item.blue .platform-name {
  color: #393d46;
}

.social-item.blue-lt .platform-name {
  color: #0cb0ff;
}

.social-item .platform span {
  display: block;
}

.social-item .icon {
  margin-left: auto;
  padding-right: 1.5rem;
  color: #d4d4d4;
}
